<link rel="stylesheet" href="public/css/style.css">

<h2 class="title">INFO SERVER</h2>
     <br><br><div class="title background_table">
      h3="PID"
      h4=PID
      h3="VERSION"
      h4=VERSION
      h3="MEMORIA"
      h4=MEMORIA
      h3="SISTEMA OPERATIVO"
      h4=SISTEMAOPERATIVO
      h3="CARPETA"
      h4=CARPETA
      h3="PATH"
      h4=PATH
      </div><br><br>;
      <div class="center_button">
      <a href="/"><button type="button" class="btn_inicio text-center">Inicio</button></a>
      </div>
